*.ppp
*.mqc
*.pqc
.mypy_cache/*
Java/bin
*.pyc
*.m~
*.log
data
dist
data/*
dist/*
/Geomag/sample_out_IGRF12.txt
/Geomag/sample_coords.txt
.python-version
.standalone_canonical_version
.build.py@*
*.nc
tmp/test_*
setup_imostoolbox_*.m
